################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.user
*.psess
*.vsp
..svnbridge
/.vs
/packages/
/bin
/obj
#Custom
*.suo
/files
/AYA